{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div>

        {% if target_user.profile %}
            <img src="{{ target_user.profile.image.url }}" alt=""
            style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; ">
            <h2 style="font-family: 'NanumSquareB'">
                {{ target_user.profile.nickname }}
                {% if target_user == user %}
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}" style="color: green; font-size: 1rem;">
                        프로필수정
                    </a>
                {% endif %}

            </h2>
            <h5 style="margin-bottom: 3rem;">
                {{ target_user.profile.message }}
            </h5>

        {% else %}
            {% if target_user == user %}
                <a href="{% url 'profileapp:create' %}">
                    <h2 style="font-family: 'NanumSquareB'">
                        프로필 생성
                    </h2>
                </a>
            {% else %}
                <h2>
                    로그인 하세요!!
                </h2>
            {% endif %}
        {% endif %}

        {% if target_user == user %}
            <a href="{% url 'accountapp:update' pk=user.pk %}" class = "btn btn-success rounded-pill btn-sm col-23" style="text-decoration-line: none;">
                사용자 정보 변경
            </a>
            &nbsp
            <a href="{% url 'accountapp:delete' pk=user.pk %}" class = "btn btn-danger rounded-pill btn-sm col-23" style="text-decoration-line: none;">
                사용자 계정 삭제
            </a>
        {% endif %}
    </div>


{% endblock %}