{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

    <style>
        .container div {
          width: 250px;
          height: 500px;
          background-color: antiquewhite;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
        }

        .container img {
          width: 100%;
          border-radius: 1rem;
        }
    </style>

    <div class="txc-textbox"
         style="background-color: #800020; border-radius: 15px; max-width: 350px; margin-left: auto; margin-right: auto;">
        <p style="text-align: center; font-size: 1.5rem; color: white;">
            서비스 준비중입니다 :)
        </p>
    </div>

    <div style="padding: 15px; font-size: 2rem;">
        🇮🇱🕯🇺🇸🕯🇰🇷
    </div>

    <div style="text-align: center; color: #008B8B; font-size: 1.8rem; font-weight: bold; font-family: NanumDdoBagDdoBag; margin-left: 1rem; margin-right: 1rem;">
        <br>
        여호와는 네게 복을 주시고
        너를 지키시기를
        <br>'원하며'
        <br>
        여호와는 그의 얼굴을 네게 비추사
        은혜 베푸시기를
        <br>'원하며'
        <br>
        여호와는 그 얼굴을 네게 향하여
        <br>드사 평강 주시기를
        <br>'원하노라' 할지니라 하라
        <br>
        그들은 이같이 내 이름으로 이스라엘 자손에게 축복할지니
        내가 그들에게 복을 주리라
        <br>
        (민수기 6:22-27)
        <br>
        <br>
        "원하며 원하며 원하노라"
        <br>
        <br>
        #God_Bless_You
        #Shabbat_&_Work
        #Work_Flows_Into_Blessings
        <br>

    </div>

{% endblock %}