{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

    <div style="margin-bottom: 2rem;">
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <!-- Slides -->
            <div class="carousel-inner">
                {% for img in image_list %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{% static img %}" class="d-block" style="width: 100%; height: 320px; object-fit: cover;" alt="{{ forloop.counter }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <button onclick="openAPP()" data-bs-toggle="modal" data-bs-target="#commentModal"
        style="text-decoration-line: underline; border: none; outline: none; background: transparent; cursor:pointer; font-size: 1.2rem;">
        <p class="sparkle-text">Timeline of Pilgrims Church<br>since 2012</p>
    </button>
     <!-- Modal -->
    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title w-100 text-center" id="commentModalLabel">Timeline of Pilgrims Church</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                    <!-- Timeline content will be dynamically added here -->
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 15px; margin-top: 0.5rem;">
        <p style="text-align: center; font-size: 2rem; font-weight: bold; color: #008B8B; font-family: NanumDdoBagDdoBag;">
            우리는 하나님나라를 소망하기에,<br>침노하는 믿음으로 함께 걸으며,<br>사랑의 힘으로 승리하는 순례자들입니다.
            <br>
            &#10077; We are City Pilgrims. &#10078;
        </p>
    </div>

    <br>

    <div style="display: flex; align-items: center; justify-content: center; margin-top: 1rem;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.0138423197295!2d127.04318101196088!3d37.507591671937355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca40ed17c2485%3A0x26198dbfad977d6e!2z7ISc7Jq47Yq567OE7IucIOqwleuCqOq1rCDshKDrponroZwgNTQ3!5e0!3m2!1sko!2skr!4v1736607657667!5m2!1sko!2skr" width="90%" height="200" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div style="padding: 15px; margin-top: 0.5rem;">
        <p style="text-align: left; font-size: 0.9rem;">
            Address of All Nation's Church: 서울특별시 강남구
        </p>
    </div>

    <style>
        .carousel-item {
            transition: transform 0.2s ease-in-out !important;
        }

        .carousel-item img {
            image-orientation: from-image;

        }

        /* 인디케이터 버튼 원형 스타일 */
        .carousel-indicators button {
            width: 1px;
            height: 3px;
            border-radius: 50%;  /* 원형으로 만들기 */
            background-color: #000;
            border: none;
            opacity: 0.2;
            transition: opacity 0.3s ease;
            margin: 0 2px;
        }

        /* 활성화된 인디케이터 버튼 스타일 */
        .carousel-indicators .active {
            background-color: #007bff;
            opacity: 1;
        }

        /* 마우스 오버 시 버튼의 배경색 변경 */
        .carousel-indicators button:hover {
            background-color: #0056b3;
        }

        .modal-dialog {
            max-height: 80%; /* 모달 높이 제한 */
            height: 80%; /* 전체 화면 높이의 80%로 설정 */
            overflow-y: auto; /* 내용이 넘치면 스크롤을 추가 */
        }

        .modal-content {
            height: 100%; /* modal-dialog 안에서의 높이를 100%로 설정 */
        }

        .modal-body {
            height: calc(100% - 100px); /* 모달 본문이 100px의 헤더를 제외한 공간을 차지하도록 설정 */
            overflow-y: auto; /* 내용이 길어질 경우 스크롤 */
        }

        /* 반짝이는 텍스트 밝기 변화 */
        @keyframes sparkle {
            0% {
                text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
            }
            50% {
                text-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00;
            }
            100% {
                text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
            }
        }

        .sparkle-text {
            font-size: 1.5rem;
            font-weight: bold;
            animation: sparkle 1s ease-in-out infinite;
        }


        .timeline-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            padding: 10px;
            border-radius: 8px;
        }

        .timeline-item.left {
            flex-direction: row;
        }

        .timeline-item.right {
            flex-direction: row-reverse;
        }

        .date-content {
            width: 50%;
            text-align: left;
            padding: 10px;
        }

        .image-content {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image-content img {
            max-width: 90%;
            max-height: 200px;
            border-radius: 8px;
        }

        .event-title {
            font-size: 0.8rem;
            font-weight: bold;
            color: #008B8B;
        }

        .event-description {
            font-size: 1.1rem;
            font-family: NanumDdoBagDdoBag;
            font-weight: bold;
        }
        .date-content h5 {
            font-size: 0.8rem; /* 날짜 크기 조절 */
            font-weight: bold;
            color: #333; /* 날짜 색상 변경 (예: 진한 회색) */
            text-decoration: underline;
        }
    </style>

    <script>

        // 팝업창에 뷰로 연결해서 데이터를 가져오고 팝업창 내 정보 표출
        function openAPP() {
            fetch("{% url 'pilgrimsapp:timeline' %}")  // URL이 잘 지정되어 있는지 확인
                .then(response => response.json())
                .then(data => {
                    console.log(data);  // 데이터가 제대로 출력되는지 확인

                    // 받은 데이터가 정상적인지 확인
                    if (data.events && data.events.length > 0) {
                        let modalContent = '';

                        // 받은 데이터를 모달 내용으로 구성 (짝수/홀수 인덱스 번갈아가며 배치)
                        data.events.forEach((event, index) => {
                            let isEven = index % 2 === 0; // 짝수면 true, 홀수면 false

                            modalContent += `
                                <div class="timeline-item ${isEven ? 'left' : 'right'}">
                                    <div class="date-content">
                                        <h5>${event.event_date}</h5>
                                        <p class="event-title">${event.title}</p>
                                        <p class="event-description">${event.description}</p>
                                    </div>
                                    <div class="image-content">
                                        ${event.image_url ? `<img src="${event.image_url}" alt="${event.title}">` : ''}
                                    </div>
                                </div>
                            `;
                        });

                        // 모달에 내용 삽입
                        document.getElementById('modal-body').innerHTML = modalContent;

                    } else {
                        document.getElementById('modal-body').innerHTML = '<p>No events found.</p>';
                    }
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }

    </script>

{% endblock %}


    <!--
    <div class="container">
        <div class="left-box">
            <img src="{% static 'flags/Korea.jpg' %}" style="width: 90%; height: 60px; object-fit: contain;">
        </div>
        <div class="mid-box">
            <img src="{% static 'flags/Israel.jpg' %}" style="width: 80%; height: 60px; object-fit: contain;">
        </div>
        <div class="right-box">
            <img src="{% static 'flags/America.jpg' %}" style="width: 80%; height: auto; object-fit: contain;">
        </div>
    </div>
    -->