{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

    <div style="padding: 15px;">
        <img style="width: 100%; border-radius: 1rem; "
             src="/media/Pilgrims_church.jpg" alt=""
             style="height: 20rem; width: 20rem; margin-bottom: 2rem;">
        <p style="text-align: center; font-size: 1.2rem;">
            <br>
            우리는 하나님나라를 소망하기에,<br>침노하는 믿음으로 함께 걸으며,<br>사랑의 힘으로 승리하는 순례자들입니다.
            <br>
        </p>
        <br>
        <p style="text-align: left; font-size: 1.1rem;">
            순례자들교회 (Pilgrims Church)<br>
            도시 순례자 (City Pilgrims)
            <br><br>
            주소: 서울특별시 강남구
        </p>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.0138423197295!2d127.04318101196088!3d37.507591671937355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca40ed17c2485%3A0x26198dbfad977d6e!2z7ISc7Jq47Yq567OE7IucIOqwleuCqOq1rCDshKDrponroZwgNTQ3!5e0!3m2!1sko!2skr!4v1736607657667!5m2!1sko!2skr" width="90%" height="200" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

{% endblock %}