

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: flex-start;
}

.profile-header img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #4a90e2;  /* theme-color와 통일 */
  height: 100vh;
  overflow: hidden;  /* 주소창 상하 스크롤에 따른 깜빡임 방지 */
}